{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>

    <!-- Show all the posts -->
    <div class="card-container">
        {% if user.is_authenticated %}
        <!-- Form to create new post -->
        <div class="new-card">
            <div class="new-card-body">
                <form action="/new_post" method="post">
                    {% csrf_token %}
                    {{ new_post_form }}
                    <input class="btn btn-primary" type="submit">
                </form>
            </div>
        </div>
    </div>
    <div class="card-container">
    {% endif %}
        {% for post in posts %}
            <div class="card" id="{{ post.id }}" data-post-id="{{ post.id }}">
                <div class="card-body">
                    <div class="post-body orange_bg">
                        <p> {{ post.body }}</p>
                    </div>
                    {% if user.is_authenticated and user == post.user%}
                        <!-- Edit post form -->
                        <div class="edit-post-div" style="display: none">
                            <form action="{% url 'update_post' post.id %}" method="post" class="edit-form">
                                {% csrf_token %}
                                {{ edit_post_form }}
                                <button class="close-textarea">Close editing post</button>
                                <input id="edit-body-submit" class="btn btn-primary edit-body-submit" type="submit">
                            </form>
<!--
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <textarea class="edit-body" name="edit-body" >{{ post.body }}</textarea>


                        <div class="edit-post-div" style="display: none">
                            <textarea>{{ post.body }}</textarea>
                            <button class="close-textarea">Close editing post</button>
                            <button class="save-button">Save</button>
                        </div>
-->
                        </div>
                    {% endif %}
                    <div class="card-footer">
                        <h6><a href="{% url 'profile' post.user %}"> {{ post.user }}</a></h6>
                        {% if user.is_authenticated and user == post.user%}
                            <button class="edit-button">Edit post</button>
                        {% endif %}
                        <p> {{ post.timestamp }}</p>
                        <p> {{ post.likes }} likes </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <!-- if more than 10 post show next button -->
    {% if paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.number > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ previous_page_url }}">Previous</a></li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="{{ next_page_url }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

<!-- import index.js -->
{% block scripts %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}