{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ user|title }}'s Profile</h1>
    <p>Display number of followers and number of people following me:</p>
    <div class="followers">
        <p>Number of users following {{ users_profile|title }} (Followers): {{ number_of_followers }}</p>
        <p>Number of users {{ users_profile|title }} follow (Following): {{ number_of_following }}</p>
    </div>
    {% if user.is_authenticated and user != users_profile %}
        <div class="follow-section">
            <form id="follow-form" action="{% url 'profile' users_profile %}" method="post">
                {% csrf_token %}
                {% if following_status %}
                    {{ unfollow_form.unfollow.as_hidden }}
                    <button id="unfollow-button" class="unfollow-button btn btn-primary" type="submit">Unfollow</button>
                {% else %}
                    {{ follow_form.follow.as_hidden }}
                    <button id="follow-button" class="follow-button btn btn-primary" type="submit">Follow</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
    <div class="card-container">
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <div class="orange_bg">
                        <p> {{ post.body }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'profile' post.user %}"> {{ post.user }}</a>
                        <p> {{ post.timestamp }}</p>
                        <p> {{ post.likes }} like </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}