{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>Network</h1>
    <h1>{{ user }}</h1>
    <p>Display number of followers and number of people following me:</p>
    {% if user.is_authenticated and user != users_profile %}
        <h1> User profile you that you are currently looking: {{ users_profile }}</h1>
        <h1> User is that is logged in: {{ user }}</h1>
        <div class="follow">
            follow/unfollow {{ following_status }}
        </div>
        <div class="follow-section">
            <form id="follow-form" action="{% url 'profile' users_profile %}" method="post">
                {% csrf_token %}
                {% if following_status %}
                    {{ unfollow_form.unfollow.as_hidden }}
                    <input id="unfollow-button" type="submit" value="Unfollow">
                {% else %}
                    {{ follow_form.follow.as_hidden }}
                    <input id="follow-button" type="submit" value="Follow">
                {% endif %}
            </form>
        </div>
    {% endif %}
    <div class="followers">
        <p>Followers:<h3>{{ number_of_followers }}</h3></p>
        <p>Following: {{ number_of_following }}</p>
    </div>
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <p>{{ post.body }}</p>
                <p>{{ post.timestamp }}</p>
                <p>{{ post.user }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<!-- JavaScript file below -->
{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}