body{
    background-color: yellowgreen;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 16px;
    padding: 16px;
}

.card{
    background-color: darkslategray;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #000000;
    display: inline-block;
    margin: 16px;
    padding: 16px;
    width: 600px;
}

.new-card{
    background-color: darkslategray;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #000000;
    display: inline-block;
    margin: 16px;
    padding: 16px;
    width: 600px;
}

.orange_bg{
    background-color: orange;
}

.card-footer{
    color: #ffffff;
    font-size: 12px;
    margin-top: 8px;
    padding: 0px;
}